shamefully-hoist=false
strict-peer-dependencies=false
auto-install-peers=true
prefer-workspace-packages=true
save-workspace-protocol=rolling
public-hoist-pattern[]=*eslint*
public-hoist-pattern[]=*prettier*
public-hoist-pattern[]=@types/*
node-linker=isolated
enable-pre-post-scripts=true
